
{% extends "base.html" %}

{% block title %}EmpreGO! - Pesquisa {% endblock %}

{% block content %}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6"> 
            <h1 class="text-center mb-4">Resultados de: "{{ palavra_chave }}"</h1>
            {% if vagas %}
            <ul>
                {% for vaga in vagas %}
                <div class="card mb-4 shadow">
                    <div class="card-body">
                        <h5 class="card-title text-primary">
                            {{ vaga['titulo'] }}
                        </h5>

                        <p class="card-text">
                            {{ vaga['descricao'] | truncate(100) }}
                        </p>

                        <h6 class="card-subtitle mb-2 text-muted">
                            <strong>Empresa: </strong>{{ vaga['nome_empresa'] }}
                        </h6>

                        <p class="card-text">
                            <small class="text-muted">
                                {{ vaga.formato }} - {{ vaga.tipo }}
                            </small>
                        </p>

                        <a href="/sobre_vaga/{{ vaga['id_vaga'] }}">Ver detalhes</a>
                    </div>
                </div>
                {% endfor %}
            </ul>
            {% else %}
            <p>Nada Encontrado para: "{{ palavra_chave }}"</p>
            {% endif %}
            {% endblock %}